@import "tailwindcss";

:root {
  --background: #0b1020;
  /* indigo gelap */
  --foreground: #e6e8ee;
  /* abu terang */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulseLive {

  0%,
  100% {
    opacity: 1
  }

  50% {
    opacity: 0.4
  }
}

.animate-live {
  animation: pulseLive 1.2s infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}